.Contacts {
    background-color: #f7f7f8;
    padding-right: 86px;
    padding-left: 86px;
}
.Contacts .contacts-info {
    display: flex;
}

.Contacts .contacts-info .details {
    flex: 1;
}
.Contacts .contacts-info .details .details-item {
    margin-top: 30px;
}

.Contacts .contacts-info .details .details-item span {
    color: #919191;
    font-family: "Myriad Pro";
    font-size: 16px;
    margin-left: 15px;
}

.Contacts .contacts-info .details p {
    color: #919191;
    font-family: "OpenSans-Light";
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}
.Contacts .contacts-info .message {
    flex: 1;
    margin-left: 20px;
}
.Contacts .contacts-info .message form div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.Contacts .contacts-info .message form div input {
    width: 269px;
    height: 40px;
}
.Contacts .contacts-info .message form textarea {
    margin-top: 20px;
}
.Contacts .contacts-info .message .send {
    display: block;
    width: 199px;
    height: 55px;
    border-radius: 1px;
    background-color: #ff0000;
    color: #ffffff;
    font-family: "OpenSans-Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.Contacts h3 {
  text-align: left;
}
