@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("./fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("./fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "Myriad Pro";
    src: url("./fonts/Myriad-Pro.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1, h2, h3 {
    margin: 0;
}
h2, h3 {
    color: #323232;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    text-align: center;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
}

.container {
    max-width: 926px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container p {
    text-align: center;
    color: #919191;
    font-family: "OpenSans-Light";
    font-size: 16px;
    line-height: 30px;
}

.About {
    background-color: #f7f7f8;
}

.Skills {
    background-color: #f7f7f8;
}
.Skills .skills-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
}
.Footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.Footer a {
    display: flex;
    align-items: center;
}

.Footer a:not(:first-child) {
    margin-left: 20px;
}
